@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0..1,8..144,100..700&display=swap");
:root {
  --black: #120116;
  --darkblack: #010014;
  --lightblack:#430B18;
  --white: #EFECFA;
  --darkwhite:#E0DEF9;
  --lightwhite:#F6F1F9;
  --grey: #8A92AD;
  --red: #E42424;
  --orange: #F15F05;
  --yellow: #FFD726;
  --green: #33923B;
  --cyan: #14D3FF;
  --blue: #303BA9;
  --purple: #892490;
  --pink: #F25B9A;
  --primary: #C5EE92;
  --secondary: #0F997E;
  --tertiary: #AD1457;
  --quaternary: #FFB66B;
  --error: var(--red);
  --warn: var(--yellow);
}

@media (prefers-color-scheme: dark) {
  :root{
    --bg: var(--darkblack);
    --mg: var(--black);
    --fg: var(--lightblack);
    --text: var(--lightwhite);
    --alttext: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --text: var(--black);
    --alttext: var(--lightblack);
    --bg: var(--darkwhite);
    --mg: var(--white);
    --fg: var(--lightwhite);
  }
}


body {
  box-sizing: border-box;
  background-color: var(--bg);
  font-family: "Roboto Serif", "Times New Roman", "Times", "serif";
  color: var(--text);
  padding: 0px 30px;
  margin: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#backdrop {
  box-sizing: border-box;
  height: calc(100vh - 120px);
  background-color: var(--mg);
  padding: 15px;
  margin: 0px auto 30px;
  border-radius: 60px 0px 0px 60px;
  color: var(--text);
  overflow: auto;
  overflow-wrap: normal;
  clear: both;
  vertical-align: baseline;
  text-align: left;
  max-width: 1000px;
  align-items: flex-start;
  align-self: center;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  column-gap: 15px;
}

.blurbtext {
  margin: 0px;
  border-radius: 0px 30px 30px;
  cursor: auto;
  background-color: var(--fg);
  padding: 15px 30px;
}

#titlebox {
  box-sizing: border-box;
  font-weight: 400;
  background-color: var(--mg);
  padding: 0px 60px 0px 0px;
  border-radius: 0px 60px 0px 0px;
  font-size: 12pt;
  z-index: 0;
  margin: 30px auto 0px;
  text-align: left;
  top: 0px;
  left: 0px;
  height: 60px;
  max-width: 1000px;
  text-decoration: none;
  color: #120116;
}

#title {
  background-color: var(--bg);
  margin: 0px 15px 0px 0px;
  padding: 0px;
  z-index: 0;
  border-radius: 0px 0px 60px;
  overflow: hidden;
  order: 0;
  font-weight: 700;
  font-size: 14pt;
  height: 60px;
  text-overflow: clip;
  color: var(--text);
  min-width: 120px;
  flex-shrink: 0;
  flex-grow: 0;
  float: left;
  text-align: left;
  font-variant: normal;
  text-decoration: none;
  justify-content: flex-start;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}

.navbar {
  border-radius: 0px 0px 30px 30px;
  border-width: 0px;
  border-style: none;
  background-color: var(--fg);
  text-align: center;
  margin: 0px auto;
  height: 60px;
  min-width: 90px;
  flex-grow: 0;
  flex-shrink: 1;
transition: flex-grow 0.5s ease 0.1s, font-weight 0.1s ease 0.3s, border-radius 0.5s ease 0s;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  align-items: stretch;
  align-self: center;
  position: relative;
}

#bar {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  column-gap: 15px;
}

.navlink {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
}

#homelink {
  padding-left: 0px;
  padding-right: 60px;
}

.navbar:hover {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 700;
  border-radius: 0px 0px 60px 60px;
}

.blurb {
  box-sizing: border-box;
  margin: 15px;
  text-align: left;
  vertical-align: baseline;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 30px);
  max-width: 800px;
  align-self: center;
}

.blurbtitle {
  padding: 15px 30px 0px;
  font-weight: 700;
  background-color: var(--fg);
  border-radius: 30px 30px 0px 0px;
  display: inline-block;
  margin: 0px;
}

header {
  margin-bottom: 0px;
}

#watermark {
  padding: 15px;
  background-color: var(--bg);
  width: 90px;
  height: 90px;
  border-radius: 60px 60px 0px;
  bottom: 0px !important;
  z-index: 1;
  margin-top: auto !important;
  margin-right: -30px;
  margin-bottom: 0px !important;
  margin-left: 15px;
  align-self: flex-end;
  align-items: flex-end;
  float: right;
  position: absolute !important;
  display: inline-flex;
}

#selected {
  background-color: var(--bg);
}

#sike-pona * {
  font-family: "Roboto Serif", "Times New Roman", "Times", "serif";
}

#sike-pona a {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
}

#sike-pona {
  height: 100%;
  margin: 0px;
  display: flex;
  padding: 0px 15px;
  column-gap: 15px;
  flex-wrap: wrap;
  place-content: center space-between;
  text-align: center;
}

#sike-pona #left {
  text-align: left;
}

#sike-pona #mid {
  text-align: center;
  justify-self: center;
}

#sike-pona #right {
  text-align: right;
}

#sike-pona #left, #sike-pona #right, #sike-pona #mid {
  border-radius: 30px;
  margin: 0px 15px;
  height: 45px;
  min-width: 60px;
  background-color: var(--bg);
  flex-grow: 0;
  flex-shrink: 1;
transition: flex-grow 0.5s ease 0.1s, font-weight 0.1s ease 0.1s;
}

#sike-pona #left:hover, #sike-pona #right:hover, #sike-pona #mid:hover {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 700;
}

#sike-pona .tokipona {
  height: 1em;
  margin: 0px 5px;
  vertical-align: text-top;
  animation: 0.7s linear 0s normal forwards infinite running swim;
  transform-origin: 50% 80% 0px;
}

@keyframes swim {
0% { transform: rotate(0deg); }
25% { transform: rotate(10deg); }
75% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}

a {
  text-decoration: none;
  color: var(--text);
transition: color 0.5s ease 0s;
}

a:visited {
  color: var(--text);
}

a:hover, a:focus {
  color: var(--alttext);
}

a:active {
  text-decoration: underline;
  color: var(--alttext);
}

#scrollbuttons {
  box-sizing: border-box;
  list-style-type: none;
  align-self: center;
  display: flex;
  position: absolute;
  bottom: 15px;
  column-gap: 15px;
  align-items: center;
  width: calc(100vw - 15px);
  max-width: 600px;
  justify-content: space-between;
  margin: 15px;
  z-index: 2;
}

.scrollthings {
  display: inline-flex;
  align-self: end;
  text-align: center;
  border-radius: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 400;
transition: flex-grow 0.5s ease 0.1s, font-weight 0.1s ease 0.3s;
}

.scrollthings:hover {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 700;
}

.scrolllink {
  box-sizing: border-box;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-width: 0px;
  border-style: none;
  color: var(--text);
  background-color: var(--bg);
  padding: 15px 30px;
  text-align: center;
  margin: 0px;
  cursor: pointer;
  transition: border-radius 0.5s ease 0s;
}

.scrollthings:hover .scrolllink, scrollthings:hover .jumptos {
  border-radius: 60px 60px 0 0;
}

.jumptos {
  list-style-type: none;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-width: 0px;
  border-style: none;
  color: var(--text);
  background-color: var(--bg);
  padding: 15px 30px;
  text-align: center;
  margin: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: border-radius 0.5s ease 0s;
}

.jumptos:hover {
  border-radius: 60px 60px 0 0;
}

#top {
  margin-top: -15px;
  margin-bottom: 30px;
}

.jumpthing {
  display: flex;
  font-weight: 400;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  max-height: 0px;
  font-size: 0pt;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: var(--fg);
  border-radius: 30px;
  transition: margin 0.5s ease 0.2s, flex-grow 0.5s ease 0.1s, font-size 0.3s ease 0.2s, max-height 0.5s ease 0.2s, font-weight 0.1s ease 0.3s;
  text-align: center;
}

.jumptos:focus-within .jumpthing {
  transition: none !important;
}

.jumptos:hover .jumpthing, .jumptos:focus-within .jumpthing {
  max-height: 1000px;
  font-size: 12pt;
  margin: 15px;
}

.jumplink {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  max-height: 0px;
  cursor: pointer;
  padding: 0px;
  align-self: stretch;
  margin: 0px;
  transition: padding 0.5s ease 0.2s, max-height 0.5s ease 0.2s;
}

.jumptos:focus-within .jumplink {
  transition: none !important;
}

.jumptos:hover .jumplink, .jumptos:focus-within .jumplink {
  max-height: 1000px;
  padding: 15px;
}

.jumpthing:hover {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 700;
}

