.main {
  padding: 30px;
  margin: 15px;
  border-radius: 30px;
  align-items: flex-start;
  flex-basis: auto;
  align-self: auto;
  justify-content: flex-start;
  cursor: auto;
  background-color: #f6f1f9;
}

body {
  background-color: #e0def9;
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #120116;
}

#backdrop {
  background-color: #efecfa;
  padding: 15px;
  margin: 30px;
  border-radius: 0px 0px 60px 60px;
  align-items: flex-start;
  flex-basis: auto;
  align-self: auto;
  justify-content: flex-start;
  cursor: auto;
  color: #120116;
}

.navbar {
  padding: 30px;
  margin: 15px;
  border-radius: 30px;
  border-width: 0px;
  border-style: none;
  background-color: #f6f1f9;
}

nav {
  display: grid;
  -webkit-grid-column-gap: 30px;
  grid-column-gap: 30px;
  -webkit-grid-auto-flow: column;
  grid-auto-flow: column;
}

#header {
  font-weight: bold;
  background-color: #e0def9;
  margin: 15px 15px -45px;
  padding: 15px;
  border-radius: 0px;
  text-align: center;
  font-size: 18pt;
  vertical-align: baseline;
  z-index: 0;
}

.pad {
  background-color: #efecfa;
  width: 60px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  align-items: flex-start;
  align-self: flex-end;
  justify-content: space-between;
  display: inline-block;
  z-index: 1;
}

#rpad {
  float: right;
}

#lpad {
  float: left;
}

#droop {
  background-color: #e0def9;
  margin: -15px 45px 15px;
  height: 30px;
  display: block;
  padding: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#title {
  margin-bottom: -15px;
  padding: 0px;
  z-index: 0;
  vertical-align: bottom;
  height: 30px;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  overflow-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: row;
  overflow: hidden;
  display: inline-block;
}

